<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>skill.it</title>
<link rel="stylesheet" href="../../public/styles/reset.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="../../public/styles/style.css">

<style>
    body {
        padding-top: 50px;
    }
</style>