<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
        <header>
            <%- include ../partials/header %>
        </header>

<body class="container Site">
    <main class="Site-content">

        <!-- Modal -->
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">
                       
                    <!-- Content -->
                    
                <div class="box signUp">
                    <div class="field">
                        <h1 class="is-size-4 has-text-weight-bold has-text-info">Log in</h1>
                        <p>—————————————————————————————————————————————</p>
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="usernameInput" type="text" placeholder="Text input">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
        
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="passwordInput" type="password" placeholder="Text input">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
        
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link " id="loginSubmit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text cancelButton">Cancel</button>
                        </div>
                    </div>
                </div>
                    
                <!-- End Content -->

                </div>
            </div>
            <!-- End Modal -->

    </main>

    <%- include ../partials/footer %>
</body>
</html>