<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>

    <header>
        <%- include ../partials/header %>
    </header>

<body class="container Site">

    <main class="Site-content">

        <!-- Modal -->
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">

                <!-- Content -->

                <div class="box createUser">
                    <div class="field">
                        <h1 class="is-size-4 has-text-weight-bold has-text-info">Sign up</h1>
                        <p>—————————————————————————————————————————————</p>
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="usernameInput" type="text" placeholder="Text Input" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="emailInput" type="email" placeholder="Text Input" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="passwordInput" type="password" placeholder="Text Input" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>

                    <div class="box dropdowns">
                        <div class="field">
                            <label class="label">What I teach</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>Painting</option>
                                        <option>Yoga</option>
                                        <option>Chemisty</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">What I want to learn</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>Cooking</option>
                                        <option>Sailing</option>
                                        <option>Game designn</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">About Me</label>
                        <div class="control">
                            <textarea class="textarea" id="aboutMe" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" id="signupSubmit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text cancelButton">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End Modal -->
        
    </main>

    <%- include ../partials/footer %>
</body>
</html>