<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
    <body class="container">
        <header>
            <%- include ../partials/header %>
        </header>
        <br>
        <p>About page coming soon...</p>
        <%- include ../partials/footer %>
    </body>
</html>