<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
    <body class="container Site">
        <header>
            <%- include ../partials/header %>
        </header>

        <main class="Site-content">
            <div class="card aboutContactDivs">
                <div class="card-content">
                <div class="content">
                        <h1>About</h1>
                            <p>
                            skill.it is a web-based skillshare application. Simply make an account, tell us which skills you can teach and which you wish to learn to get paired with potential skillshare partners. Make arrangements through chat or email to begin! There's nothing else to it.
                            </p>
                </div>
                </div>
            </div>
        </main>

        <%- include ../partials/footer %>
    </body>
</html>