<!DOCTYPE html>
<html lang="en">
    <!-- views/pages/index.ejs -->


    <head>
        <%- include ../partials/head %>
    </head>

    
    <body class="container">

        <header>
            <%- include ../partials/header %>
        </header>

    <br>
    <p>Contact page coming soon...</p>

    <footer>
        <%- include ../partials/footer %>
    </footer>

</body>

</html>