<main class="Site-content">

    <!-- Modal -->
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">

            <!-- Content -->

            <div class="box email">
                <h1 class="is-size-4 has-text-weight-bold has-text-info">Email</h1>

                <form method="POST" action="send">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" name="username" type="text" placeholder="Input your username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-success" name="email" type="email" placeholder="Input your email">
                            <span></span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Subject</label>
                        <input class="input is-success" name="subject" type="text" placeholder="Subject">
                    </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control has-icons-left has-icons-right">
                    <textarea class="textarea" name="message" placeholder="Message"></textarea>
                </div>
            </div>
        

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link emailSubmit" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-text cancelButton">Cancel</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- End Content -->

    </div>
    </div>
    <!-- End Modal -->

</main>