<main class="Site-content">

    <!-- Content -->

    <div class="box signUp">
        <h1 class="is-size-4 has-text-weight-bold has-text-info">Log in</h1>
        <% include ../partials/messages %>
        <p>—————————————————————————————————————————————</p>

        <form action="/login" method="POST">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="username" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="password" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link " id="loginSubmit" type="submit">Submit</button>
                </div>
                <div class="control">
                    <a href="/"><button type="button" class="button is-text cancelButton">Cancel</button></a>
                </div>
            </div>
        </form>
    </div>

    <!-- End Content -->

</main>