<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>skill.it</title>
    <link rel="stylesheet" href="styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <p class="is-size-4 navTitle"><strong>skill.it</strong></p>
                    <img src="images/skillet.svg" width="50" height="50">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>

                    <a class="navbar-item" href="/about">
                        About
                    </a>

                    <a class="navbar-item" href="/contact">
                        Contact
                    </a>
                </div>

                <div class="navbar-end signAndLog">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-info" id="signupButton" href="/signup">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-dark" id="loginButton" href="/login">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <%- body %>
    <footer>
        <div class="has-text-centered footerDiv">
            <p>
                <strong>skill.it</strong> © 2019 by <p>Mac Hollister, Neri Stec, Truc Ly Le, and Jonathan Davis.</p>
            </p>
        </div>
    </footer>
</body>

</html>