#chathistory {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#chathistory li {
    margin: 10px;
    padding: 16px 32px;
}

li.sender {
    align-self: flex-end;
    background-color: #00E5C3;
    text-align: right;
}

li.receiver {
    align-self: flex-start;
    background-color: #ffdd57;
}

.userName, .userEmail {
    margin-right: 5px;
}

.userInfo {
    font-size: 10.5pt;
}

.userEmail {
    font-size: 11pt;
}

.userHeader {
    margin-left: 10px;
}

.searchButton {
    width: 225px;
    font-weight: bold;
}

.navTitle {
    margin-left: 20px;
}

.signAndLog {
    margin-right: 25px;
}

.searchDiv {
    margin-top: 55px;
    margin-bottom: 30px;
}

.homeSearch {
    width: 450px;
}

.searchText {
    font-weight: bold;
    text-align: center;
}

.filterText {
    font-weight: bold;
    margin-bottom: 15px;
}

.filterButtons {
    margin-left: 30px;
    margin-right: 30px;
}

.footerDiv {
    height: 0px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.dropdowns {
    margin-top: 30px;
}

.signUp, .email, .createUser, .profile {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 50px;
}

.cardDivs, .hero {
    margin: 75px;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
flex: 1;
}

.modal-content {
    max-width: 750px;
}

.hero {
    margin-top: 75px;
    margin-bottom: 25px;
}

.profileFont{
letter-spacing: 1px;
}

.profileFormButton {
    float: right;
}

.skillButton {
    margin: 5px;
}